<div class="container">
  <% meals.each do |meal| %>
      <div class="card-details">
        <div class="card-meta">
          <% if meal.photo.attached? %>
            <%= cl_image_tag meal.photo.key %>
          <% else %>
            <%= image_tag "meal_placeholder.jpg" %>
          <% end %>
        </div>
        <div class="card-description">
          <div class="difficulty-level">
            <ul class="list-inline mt-0 d-flex">
              <p class="list-inline mt-0 mr-2">Difficulty Level</p>
              <div class="difficulty">
                <% meal.difficulty.times do %>
                  <%= image_tag "hat.svg" %>
                <% end %>
              </div>
            </ul>
          </div>
          <h4><%= meal.restaurant.name %></h4>
          <h1><%=meal.name %> with <%= meal.chef.first_name %></h1>
          <p><%= meal.description %></p>         
          <h1><i><%=meal.price %> €</i></h1>
          <p><i class="far fa-clock"></i> <%= meal.prep_time %> min.</p>
          <div>
            <ul class="list-inline mb-3">
              <% meal.categories.all.each do |c| %>
                <p class="btn btn-outline-secondary category btn-sm disabled"><%= c.name %></p>
              <% end %>
            </ul>
          </div>
          <div class="add">
            <%= simple_form_for([ meal, order_item ]) do |f| %>
              <div class= "form-group d-flex text-center event-input">
                <%= f.input :quantity, input_html: {value: f.object.quantity || '4'}, class: "form-control" %>
                <%= f.submit "+", class: "btn btn-info submit" %>
              </div>
            <% end %>
          </div>
          <div class="card-avatar">
            <% if meal.chef.photo.attached? %>
              <%= cl_image_tag meal.chef.photo.key, class: "avatar-large mr-3", alt: "Meet your chef!" %>
            <% else %>
              <%= image_tag "chef1.jpg", class: "avatar-large mr-3", alt: "Meet your chef!" %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
