<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
  <%= link_to "SecretChef".html_safe, root_path , class: "navbar-brand", style: "color: #FFD64B; font-size: 25px"  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-2 mt-2 mt-lg-0">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Explore Restaurants",  restaurants_path, class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to "Shopping Cart",  new_order_path, class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Out",  destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to sign out?' },  class: "nav-link"  %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, class: "nav-link"  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>