<div class="container justify-self-center">
  <div class="position d-flex justify-content-center">
      <%= image_tag @meal.photo, alt: "Recipe Video Explanation" %>
      <button class="btn"><strong>></strong></button>
  </div>

  <div class="recipe">
    <h1>Your Recipe!</h1>
    <% steps = @recipe.steps.sort_by { |s| s["name"] } %>
    <% steps.each do |s| %>
      <div class="details">
          <div class="description">
          <div class="card-meta">
          <% if s.photo.attached? %>
            <%= cl_image_tag meal.photo.key %>
          <% else %>
            <div class="image">  <%= image_tag "meal_placeholder.jpg"%></div>
          <% end %>
        </div>
            <h2><%= s.name %></h2>
            <p><%= s.content %></p>
          </div>
      </div>
    <% end %>
  </div>
</div>
