<% @restaurants.each do |restaurant| %>
  <div class="card mb-3 mt-3">
    <% if restaurant.photos.attached? %>
      <%= cl_image_tag restaurant.photos[0].key %>
    <% else %>
      <%= image_tag "restaurant.jpg" %>
    <% end %>
    <div class="card-footer">
      <h3><%= link_to restaurant.name.upcase, restaurant_path(restaurant), class: "stretched-link" %></h3>
      <% if restaurant.chefs.present? %>
        <p><strong>Chef <%= restaurant.chefs[0].first_name %> <%= restaurant.chefs[0].last_name %> </strong></p>
      <% end %>

      <div class="extra-info border-top">
        <p style="width: 250px;"><span class="border border-dark p-1"><%=restaurant.meals.size %></span> Meal Kits</p>
        <p style="width: 250px;"><em> <%= restaurant.cuisine %> cuisine </em></p>
        <% if restaurant.average_review %>
        <!-- Display if restaurant has reviews -->
          <p style="width: 250px;">
            <% restaurant.average_review.times do %>
              <i class="fas fa-star" style="font-size: 10px;"></i>
            <% end %>
            <% (5-restaurant.average_review).times do %>
              <i class="far fa-star" style="font-size: 10px;"></i>
            <% end %>
          </p>
          <!-- If restaurant has no reviews display 0 reviews -->
        <% else %>
          <p style="width: 250px;"><%= pluralize restaurant.reviews.size, "Review" %></p>
        <% end %>
      </div>
      <div class="description">
        <p><%= restaurant.description %></p>
      </div>
    </div>
  </div>
<% end %>
