<div class="container">
  <div class="shopping-cart">
    <div class="text-center pt-3">
      <h1><i class="fas fa-shopping-cart"></i> Shopping Cart</h1>
      <h2><%= @order.restaurant.name %></h2>
    </div>

    <div class="row justify-content-center pt-5">
    <div class="col-6">

    <% @order.order_items.each do |oi| %>
      <div class="row justify-content-around">
        <p><%= oi.meal.name %></p>
        <%= simple_form_for oi do |f| %>
          <div class= "form-inline">
            <%= f.input :quantity, label: false, class: "form-control" %>
            <%= f.submit "Update".html_safe, class: "form-control"  %>
          </div>
        <% end %>
        <%= link_to "<i class='fas fa-times'></i>".html_safe, order_item_path(oi.id), method: :delete %>
      </div>
    <% end %>

    <div class="form mt-3">
      <%= simple_form_for [ @order ] do |f| %>
        <div class= "form-group">
          <%= f.input :delivery_time, class: "form-control" %>
          <%= f.input :delivery_address, class: "form-control" %>
          <%= f.submit "Submit Order", class: "form-control btn btn-info" %>
        </div>
      <% end %>
    </div>
    </div>
  </div>
  </div>
  <br>
  <br>
</div>


<span class="ap-dropdown-menu">
  <div>
    <span class="ap-suggestions">
      <div class="ap-suggestion">
        <span class="ap-suggestion-icon"><svg></svg></span>
        <span class="ap-name"></span>
        <span class="ap-address"></span>
      </div>
      <!-- Other suggestions -->
    </span>
  </div>
</span>
