<div class="container">
  <div class="shopping-cart">
    <div class="text-center pt-3">
      <h1><i class="fas fa-shopping-cart"></i> Shopping Cart</h1>
      <h2><%= @order.restaurant.name %></h2>
    </div>

    <div class="row justify-content-center pt-5">
    <div class="col-9">

    <% @order.order_items.each do |oi| %>
      <%= simple_form_for oi do |f| %>
        <div class="order-form">
        <p><%= oi.meal.name %></p>
            <%= f.input :quantity, label: false, class: "form-control" %>
            <p>€<%= oi.meal.price * oi.quantity %></p>

            <%= f.submit "Update".html_safe, class: "form-control"  %>
        <%= link_to "<i class='fas fa-times'></i>".html_safe, order_item_path(oi.id), method: :delete %>
        </div>
      <% end %>
    <% end %>
    <div class="order-form-2" >
      <p></p>
      <p><strong>Total price:</strong></p style:'margin-top: 10px'>
      <p><strong>€ <%= @order.total_price  %></strong></p></div>
    <div class="form mt-3">
      <%= simple_form_for [ @order ] do |f| %>
        <div class= "form-group">
          <%= f.input :delivery_time, class: "form-control" %>
          <%= f.input :delivery_address, class: "form-control" %>
          <%= f.submit "Submit Order", class: "form-control btn btn-info" %>
        </div>
      <% end %>
    </div>
    </div>
  </div>
  </div>
  <br>
  <br>
</div>
