<div class="container mt-5 mb-5">
  <div class="shopping-cart text-center">

    <div class="mt-3">
      <h2><i class="fas fa-check-circle"></i> Order confirmed!</h2>
    </div>

    <p class="mt-3">A confirmation and receipt have been sent to <strong> <%= @order.user.email %> .</strong></p>
    <p class="mt-3">Your order from <strong> <%= @order.restaurant.name %> </strong> will be delivered to your door at <%= @order.delivery_time %>.</p>

<!--     Order summary -->
    <div class="summary border-top mt_3">
      <p class="mt-3"><strong>Meal kits:</strong></p>
        <% @order.order_items.each do |oi| %>
        <ul>
          <li style="list-style-type: none;"><%= oi.meal.name %> for  <%= oi.quantity %>.</li>
        </ul>
      <% end %>
    </div>

<!--     Delivery image -->
    <%= image_tag "delivery.svg", alt: "Cook", height: 150, width: 150 %>

  </div>

</div>
