<div class="container">
  <div class="row justify-content-center mt-5"><h1>Your cooking experiences</h1></div>
  <div class="row justify-content-center mt-5"><h3>Today's menu</h3></div>
  <% @meals.each do |meal| %>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-8">
          <div class="card mb-3 mt-3">
            <% if meal.photo.attached? %>
              <%= cl_image_tag meal.photo.key %>
            <% else %>
              <%= image_tag "meal_placeholder.jpg" %>
            <% end %>

            <div class="card-footer pt-0">

              <div class="prep-info">
                <p><strong>Difficulty</strong></p>
                <p><i class="far fa-clock"></i> <strong> Preptime</strong></p>
              </div>

              <div class="prep-info">
                <div class="text-left" id="meal-difficulty">
                  <ul class="list-inline mt-0">
                    <% meal.difficulty.times do %>
                      <li class="list-inline-item"><i class="fas fa-utensil-spoon"></i></li>
                    <% end %>
                    <% (5-meal.difficulty).times do %>
                      <li class="list-inline-item inactive"><i class="fas fa-utensil-spoon"></i></li>
                    <% end %>
                  </ul>
                </div>
                <div class="text-right" id="preptime">
                  <%= meal.prep_time %> Min.
                </div>
              </div>

              <div class="text-left mt-3" id="meal-description">
                 <h3><%= meal.name %></h3>
                 <h4><i><%= meal.restaurant.name %></i></h4>
              </div>

              <div class="text-right" id="meal-categories">
                <ul class="list-inline mb-0">
                  <% meal.categories.all.each do |c| %>
                    <% if c.name == "Vegan" %>
                      <li class="list-inline-item"> <i class="fas fa-seedling"></i> </li>
                    <% elsif c.name == "Vegetarian"%>
                      <li class="list-inline-item"> <i class="fas fa-seedling"></i></li>
                    <% elsif c.name == "Seafood" %>
                      <li class="list-inline-item"> <i class="fas fa-fish"></i></li>
                    <% elsif c.name == "Spicy" %>
                      <li class="list-inline-item"> <i class="fas fa-pepper-hot"></i></li>
                    <% elsif c.name == "Low Carb" %>
                      <li class="list-inline-item"> <i class="fas fa-dumbbell"></i></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
              <div class="row justify-content-center"><button type="button" class="btn btn-info btn-lg m-1 btn-recipes"><%= link_to "Start Cooking", recipe_path(meal)%> </button></div>
              <div class="row justify-content-center"><button type="button" class="btn btn-info btn-lg m-1 btn-recipes"><%= link_to "Leave a Review", recipe_path(meal)%> </button></div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row justify-content-center mt-5"><h3>On your cookbook</h3></div>
    <% @meals.each do |meal| %>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-8">
          <div class="card mb-3 mt-3">
            <% if meal.photo.attached? %>
              <%= cl_image_tag meal.photo.key %>
            <% else %>
              <%= image_tag "meal_placeholder.jpg" %>
            <% end %>

            <div class="card-footer pt-0">

              <div class="prep-info">
                <p><strong>Difficulty</strong></p>
                <p><i class="far fa-clock"></i> <strong> Preptime</strong></p>
              </div>

              <div class="prep-info">
                <div class="text-left" id="meal-difficulty">
                  <ul class="list-inline mt-0">
                    <% meal.difficulty.times do %>
                      <li class="list-inline-item"><i class="fas fa-utensil-spoon"></i></li>
                    <% end %>
                    <% (5-meal.difficulty).times do %>
                      <li class="list-inline-item inactive"><i class="fas fa-utensil-spoon"></i></li>
                    <% end %>
                  </ul>
                </div>
                <div class="text-right" id="preptime">
                  <%= meal.prep_time %> Min.
                </div>
              </div>

              <div class="text-left mt-3" id="meal-description">
                 <h3><%= meal.name %></h3>
                 <h4><i><%= meal.restaurant.name %></i></h4>
              </div>

              <div class="text-right" id="meal-categories">
                <ul class="list-inline mb-0">
                  <% meal.categories.all.each do |c| %>
                    <% if c.name == "Vegan" %>
                      <li class="list-inline-item"> <i class="fas fa-seedling"></i> </li>
                    <% elsif c.name == "Vegetarian"%>
                      <li class="list-inline-item"> <i class="fas fa-seedling"></i></li>
                    <% elsif c.name == "Seafood" %>
                      <li class="list-inline-item"> <i class="fas fa-fish"></i></li>
                    <% elsif c.name == "Spicy" %>
                      <li class="list-inline-item"> <i class="fas fa-pepper-hot"></i></li>
                    <% elsif c.name == "Low Carb" %>
                      <li class="list-inline-item"> <i class="fas fa-dumbbell"></i></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
              <div class="row justify-content-center"><button type="button" class="btn btn-info btn-lg m-1 btn-recipes"><%= link_to "Re-order meal", recipe_path(meal)%> </button></div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


