<div class="container mt-5">
  <br>
  <br>
  <p><%= @meal.name %></p>
  <p><%= @meal.description %></p>

  <div class="form">
    <%= simple_form_for [ @meal, @order_item ] do |f| %>
      <div class= "form-group">
        <%= f.input :quantity, class: "form-control" %>
        <%= f.submit "Order", class: "form-control btn btn-info" %>
      </div>
    <% end %>
  </div>

</div>
