<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'restaurant_banner.jpg' %>); text-align: center;">
  <div class="container">
    <h1><%= @restaurant.name %></h1>
    <h2><%= @restaurant.description %></h2>
  </div>
</div>

<div class="container">
  <div>
    <div class="row justify-content-center mt-5 mb-5">
      <h1>Our Philosophy</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 text-justify mb-5">
        <p>Our chefs have worked their way around the world. They have gained experience in Asia, Australia, Dubai, Kasachstan and Switzerland, to name but a few. They have been taught by michelin star chefs and are always ready for something new. They are two perfectionists, who are driven by their passion for cooking and authentic dishes. Their creativity knows no limits. </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <h1>Our Home Cooking Experiences</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <% @restaurant.meals.each do |meal| %>
        <div class="card mb-3 mt-3">
          <%= image_tag "meal_placeholder.jpg" %>
          
          <div class="card-footer pt-0">

            <div class="prep-info">
              <p><strong>Difficulty</strong></p>
              <p><i class="far fa-clock"></i> <strong> Preptime</strong></p>
            </div>

            <div class="prep-info">
              <div class="text-left" id="meal-difficulty">
                <ul class="list-inline mt-0">
                  <% meal.difficulty.times do %>
                    <li class="list-inline-item"><i class="fas fa-utensil-spoon"></i></li>
                  <% end %>
                  <% (5-meal.difficulty).times do %>
                    <li class="list-inline-item inactive"><i class="fas fa-utensil-spoon"></i></li>
                  <% end %>
                </ul>
              </div>
              <div class="text-right" id="preptime">
                <%= meal.prep_time %> Min.
              </div>
            </div>

            <div class="text-left mt-3" id="meal-description">
               <h3><%= image_tag "chef1.jpg", class: "avatar-large", alt: "avatar-large" %> <%= meal.name %></h3>
              <p><%= meal.description %></p>
            </div>

            <div class="text-right" id="meal-categories">
              <ul class="list-inline mb-0">
                <% meal.categories.all.each do |c| %>
                  <% if c.name == "Vegan" %>
                    <li class="list-inline-item"> <i class="fas fa-seedling"></i> </li>
                  <% elsif c.name == "Vegetarian"%>
                    <li class="list-inline-item"> <i class="fas fa-seedling"></i></li>
                  <% elsif c.name == "Seafood" %>
                    <li class="list-inline-item"> <i class="fas fa-fish"></i></li>
                  <% elsif c.name == "Spicy" %>
                    <li class="list-inline-item"> <i class="fas fa-pepper-hot"></i></li>
                  <% elsif c.name == "Low Carb" %>
                    <li class="list-inline-item"> <i class="fas fa-dumbbell"></i></li>
                  <% end %>
                <% end %>
              </ul>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
