<div class="banner" style= "
  <% if @restaurant.photos.attached? %>
    background-image: url(<%= cl_image_path @restaurant.photos[0].key %>); text-align: center;
  <% else %>
    background-image: url(<%= image_path 'restaurant_banner.jpg' %>); text-align: center;
  <% end %>">
</div>
<div class="container col-10 mb-0"></div>
  <div class="container justify-content-center mt-5">
    <div class="restaurant">
      <div class="restaurant-logo">
        <% if @restaurant.photos.attached? %>
          <%= cl_image_tag @restaurant.photos[1].key %>
        <% else %>
          <%= image_tag 'hat.svg' %>
        <% end %>
      </div>
      <div class="restaurant-description">
        <h1>Welcome to <%= @restaurant.name %>!</h1>
        <% if @restaurant.average_review %>
          <p>
            <% @restaurant.average_review.times do %>
              <i class="fas fa-star" style="font-size: 10px;"></i>
            <% end %>
            <% (5-@restaurant.average_review).times do %>
              <i class="far fa-star" style="font-size: 10px;"></i>
            <% end %>
            (<%= pluralize @restaurant.reviews.size, "Review" %>)
          </p>
        <% end %>
        <p><%= @restaurant.description %></p>
    </div>
  </div>
</div>
<div class="container mt-0">
  <div class="row justify-content-center mb-3">
    <h1>Our Home Cooking Experiences</h1>
  </div>
  <div class="container mt-7 col-10">

    <%= render "shared/meals_show", meals: @restaurant.meals, order_item: @order_item %>
  </div>


  <% unless @restaurant.reviews.empty? %>
    <div class="container pt-5 ml-5">
      <h2>Reviews</h2>
       <p><% @restaurant.reviews.each do |r| %>
          <div class="reviews">

          <% r.rating.times do %>
          <i class="fas fa-star" style="font-size: 10px;"></i>
          <% end %></p>
          <div class="review-body">
            <p><%= r.content %></p>
            <p><%= r.order.user.first_name %> · <%= r.created_at.strftime("%d/%m/%Y")  %></p>
          </div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>




