<div class="banner" style= "
<% if @restaurant.photo.attached? %>
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @restaurant.photo.key %>); text-align: center;
<% else %>
background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'restaurant_banner.jpg' %>); text-align: center;
<% end %>">
  <div class="container p-3">
    <h1><%= @restaurant.name %></h1>
    <h2><%= @restaurant.description %></h2>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <h1>Our Philosophy</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 text-justify mb-5">
      <p>Our chefs have worked their way around the world. They have gained experience in Asia, Australia, Dubai, Kasachstan and Switzerland, to name but a few. They have been taught by michelin star chefs and are always ready for something new. They are two perfectionists, who are driven by their passion for cooking and authentic dishes. Their creativity knows no limits. </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <h1>Our Home Cooking Experiences</h1>
  </div>
  <div class="container mt-7 col-10">
    <%= render "shared/meals_show", meals: @restaurant.meals, order_item: @order_item %>
  </div>
</div>

