<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'restaurant_banner.jpg' %>)">
  <div class="container">
    <h2><%= @restaurant.name %></h2>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.description %></p>
  </div>
</div>

<h1>Our Home Cooking Experiences</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <% @restaurant.meals.each do |meal| %>
        <div class="card mb-3 mt-3">
          <%= image_tag "meal-placeholder.jpg" %>
          <div class="card-footer">
            <h3><%= meal.name %></h3>
            <p><%= restaurant.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>     
</div>